
<html>
  <%- include("_other/head.ejs") %>
<body>

<div class="row">
  <%- include("_other/sidebar.ejs") %>
  <div class="medium-8 columns">

    <br>
    <center>
      <h1><%- page.title %></h1>
      <%- include("_other/mobile/mobile-menu.ejs") %>
    </center>
    <font color="grey" size=2><%- date(page.date, "YYYY-MM-DD") %></font>
    <title><%- config.title %> - <%- page.title %></title>
    <%- page.content %>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/<%- theme.highlight_theme %>.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </div>
</div>
<br>
<%- include("_other/footer.ejs") %>
</body>
</html>
