<%- include("_other/page_1.ejs") %>
<h3><%- page.title %></h3>
<% if (site.tags && site.tags.length){ %>
  <%- list_tags(site.tags, {
    show_count: false,
    class: 'label secondary'
  }) %>
<% } %>
<%- include("_other/page_2.ejs") %>
<html>
  <%- include("_other/head.ejs") %>
<body>

<div class="row">
  <%- include("_other/sidebar.ejs") %>
  <div class="medium-8 columns">
    <br>
    <center>
      <h1><%- config.title %></h1>
      <h3><%- page.title %></h3>
      <% if (site.tags && site.tags.length){ %>
        <%- list_tags(site.tags, {
          show_count: false,
          class: 'label secondary tags'
        }) %>
      <% } %>
  </div>



</div>
<%- include("_other/footer.ejs") %>

</body>
</html>
